<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyTools.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysPresent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PadraoCancelChamado" serializeAs="String">
                <value>Identificamos que este chamado não caracteriza erro de sistema e foi aberto o chamado Nº {0} no caminho correto</value>
            </setting>
            <setting name="PadraoChamadoSubstituicao" serializeAs="String">
                <value>Chamado aberto em substituição ao chamado Nº {0}, que foi cancelado por estar classificado incorretamente.</value>
            </setting>
        </MyTools.Properties.Settings>
    </userSettings>
</configuration>